<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<a href="{% url 'eMobilis_home' %}">home</a>
<a href="{% url 'eMobilis_about' %}">about</a>
<a href="{% url 'eMobilis_blog' %}">blog</a>
<a href="{% url 'eMobilis_contact' %}">contact</a>
<a href="{% url 'eMobilis_services' %}">services</a>
<h1>Welcome to Django. This is our landing page</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A commodi debitis deserunt, eaque earum incidunt ipsa labore neque nobis, nulla
    placeat quis quisquam saepe sapiente vitae! Blanditiis illo quo voluptatibus?</p>
</body>
</html>